@charset "utf-8";

body {
  background-color: whitesmoke;
}

main {
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  background-color: white;
}

#galeria {
  display: grid;
  grid-template-areas: "g g g g k";
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#kosar {
  display: grid;
  grid-area: "k";
  background-color: white;
}

#termekTarolo {
  padding: 10px;
  background-color: rgb(241, 220, 223);
}

img {
  width: 100%;
}

h1,
h3,
p {
  text-align: center;
  padding: 2px;
}

.termek {
  background-color: white;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: bold;
  padding-right: 15px;
}

span {
  margin-left: 20%;
}

#kosarba {
  margin-left: 2%;
}
